

<!-- Footer Section -->
<footer class="footer-bottom">
    

    <div class="footer-contact">
        <p><strong>Contact</strong><br />
            Alba Iulia, România<br />
            +40 745 000 000<br />
            <a href="mailto:contact@sezonuldragostei.ro">contact sezonuldragostei.ro</a><br />
            <a href="https://www.sezonuldragostei.ro" target="_blank">www.sezonuldragostei.ro</a>
        </p>
    </div>
    <div class="footer-links">
        <a href="#">Termeni și condiții</a> |
        <a href="#">Politica de confidențialitate și cookies</a>
        <p>© Sezonul Iubirii 2025. All Rights Reserved</p>
    </div>
</footer>