

<!-- Footer Section -->
<footer class="footer-bottom">
    

    <div class="footer-contact">
        <p><strong>Contact</strong><br />
            Alba Iulia, România<br />
            <a href="mailto:contact@serviciidematrimoniale.ro">contact@serviciidematrimoniale.ro</a><br />
        </p>
    </div>
    <div class="footer-links">
        <a href="#">Termeni și condiții</a> |
        <a href="#">Politica de confidențialitate și cookies</a>
        <p>©Sezonuldragostei  2025. All Rights Reserved</p>
    </div>
</footer>
