<app-navbar></app-navbar>
<!-- Header Section -->
<!-- <div class="header text-center position-relative">
  <img
    src="../../assets/images/background-main.jpg"
    alt=""
    class="img-fluid w-100"
  />
  <div
    class="position-absolute top-50 start-50 translate-middle text-white p-3 bg-dark rounded qoute-hereo"
  >
    <h1 class="fs-3 fw-bold">
      "Viata fara dragoste este ca un copac fara flori sau roade" -Khalil Gibram 
      {{ text }}
    </h1>
  </div>
</div> -->

<div class="header-hearo-section">
  <h3>
    "Viață fară dragoste este că un copac fară flori sau roade"<br>
    <span >Khalil Gibram</span>
  </h3>
</div>

<!-- About Section -->
<div class="about container py-5">
  <h3 style="padding-bottom: 30px">
    <strong>Confidențialitate. Încredere. Relatii autentice.</strong>
  </h3>
  <div class="row gy-4 align-items-start">
    <!-- Left -->
    <div class="col-md-6">
      <p>
        <strong style="margin-left: 30px">Sezonul Dragostei</strong>
        este o agenție de matrimoniale premium, care creează conexiuni reale și
        oferă sprijin în găsirea unei relații serioase.
      </p>
      <p>
        Printr-o abordare empatică și confidențială, ajutăm oameni din toate
        domeniile să-și întâlnească jumătatea și să construiască o relație
        sănătoasă și de durată.
      </p>
      <p>
        Căutarea este unică, iar noi ne asigurăm că profilurile sunt aliniate nu
        doar la nivel de aspect fizic, ci și în ceea ce privește valorile,
        stilul de viață, așteptările și compatibilitatea emoțională.
        
      </p>
    </div>

    <!-- Right -->
    <div class="col-md-6 d-flex flex-column">
    
      <p>
        Acesta este un proces serios, care cere timp, implicare și sinceritate.
        Nu promitem garanții – dar promitem să facem tot ce ne stă în putere
        pentru a te ajuta să întâlnești pe cineva cu care să construiești ceva
        real.
      </p>
      <p>
        Căutarea iubirii nu este un joc. Este una dintre cele mai importante
        decizii din viață. De aceea, te invităm să o faci conștient, informat și
        în siguranță, cu sprijinul nostru deplin.
      </p>
      <p>Misiunea noastră este aceeași cu a ta: să găsim persoana potrivită
        pentru o relație autentică, profundă și de durată.</p>
      <input
        class="btn text-white px-3 py-1 align-self-sm-end"
        style="background-color: #fbac52"
        type="button"
        value="Aplica acum"
        routerLink="/subscribe"
      />
    </div>
  </div>
</div>

<!-- How We Work Section -->
<div class="how-we-work  ">
  <div class="mb-5">
    <h5 class="fw-bold" >1. Consultanță Relațională Personalizată</h5>
    <p>
      Lucrăm 1 la 1 cu tine pentru a-ți înțelege valorile, obiectivele și stilul
      de viață, apoi selectăm parteneri compatibili din rețeaua noastră
      exclusivistă.
    </p>
    <ul>
      <li>Selecție atentă a partenerilor</li>
      <li>Întâlniri organizate de noi</li>
      <li>Feedback și ajustare constantă a criteriilor</li>
    </ul>
  </div>

  <div class="mb-5">
    <h5 class="fw-bold" >2. Sprijin Relațional</h5>
    <p>
      Te ghidăm în procesul de dezvoltare personală și emoțională pentru a avea
      relații împlinite și sănătoase.
    </p>
    <ul>

      <li>Sprijin în comunicare, atașament, limite și vulnerabilitate</li>
      <li>Ghidaj în relațiile de cuplu, dar și în perioada de dating</li>
    </ul>
  </div>

  <div class="mb-5">
    <h5 class="fw-bold" >3. Evenimente Private</h5>
    <p>
      Organizăm evenimente exclusiviste de networking romantic pentru cei care
      doresc conexiuni autentice într-un cadru sigur și elegant.
    </p>
  </div>
  <input
    routerLink="subscribe"
    class="btn text-white px-3 py-1"
    style="
      background-color: #ffffff;
      color: #000 !important;
      font-weight: bolder;
    "
    type="button"
    value="Aplica acum"
    routerLink="/subscribe"
  />
</div>
<app-footer></app-footer>
